.container {
  //padding: 0 2rem;

  main {
    padding-top: 69px;

    padding: 80px 40px; 
  }
}



.struck {
  text-decoration: line-through;
}

.toxicList {
  li span {
    color: #333;
    font-weight: 500;
  }
  li {
    margin-bottom: 10px;
  }
}